/* Contact form */
.form-check{
  padding-top: -5px;
}
#name-error{
  display: none;
  color: red;
  font-style: oblique;
  font-size: 11px;
}
#surname{
  padding-top: 10px;
}
#surname-error{
  display: none;
  color: red;
  font-style: oblique;
  font-size: 11px;
}
#gender-error{
  display: none;
  color: red;
  font-style: oblique;
  font-size: 11px;
}
#user-error{
  display: none;
  color: red;
  font-style: oblique;
  font-size: 11px;
  margin-top: 0;
  padding-top: 0;
}

#mail-error{
  display: none;
  color: red;
  font-style: oblique;
  font-size: 11px;
}
#comment-error{
  display: none;
  color: red;
  font-style: oblique;
  font-size: 11px;
}