/* Main Styles */
#logo{
  width: 75px;
  position: sticky;
}
#title{
  text-align: center;
}
#intro{
  margin-right: 400px;
}
#navbar2{
  position: sticky;
  top: 0;
  z-index: 1;
}
#about{
  padding-bottom: 20px;
}
.navbar-expand-lg{
  background-color: #c2c2c2;
}
.carousel-inner img { 
  max-width:100%;
  max-height:100%;
}
.cartitle {
  text-align: center;
}
.cartext {
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
}
.cardesc {
  padding-bottom: 30px;
}
.carousel{
  padding-bottom: 20px;
}
#gallerytitle{
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.nav-item{
  color: red;
}
.navbar:hover{
  color: red;
}

/* Minigame */
canvas { background: #eee; display: block; margin: 0 auto; }

#loose{
  position: relative;
  opacity: 0;
  margin-top: -100;
}

#difficulty{
  display: block;
}

/* Contact form */
.form-check{
  padding-top: -5px;
}
#name-error{
  display: none;
  color: red;
  font-style: oblique;
  font-size: 11px;
}
#surname{
  padding-top: 10px;
}
#surname-error{
  display: none;
  color: red;
  font-style: oblique;
  font-size: 11px;
}
#gender-error{
  display: none;
  color: red;
  font-style: oblique;
  font-size: 11px;
}
#user-error{
  display: none;
  color: red;
  font-style: oblique;
  font-size: 11px;
  margin-top: 0;
  padding-top: 0;
}

#mail-error{
  display: none;
  color: red;
  font-style: oblique;
  font-size: 11px;
}
#comment-error{
  display: none;
  color: red;
  font-style: oblique;
  font-size: 11px;
}
