/* Main Styles */
body {
  margin: auto;
  height: auto;
}

#logo {
  width: 75px;
  position: sticky;
}
#title {
  text-align: center;
}
#intro {
  margin-right: 400px;
}
#navbar2 {
  position: sticky;
  top: 0;
  z-index: 10;
}
#about {
  padding-bottom: 20px;
}
.navbar-expand-lg {
  background-color: #c2c2c2;
}
.carousel-inner img {
  max-width: 100%;
  max-height: 100%;
}
.cartitle {
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
}
.cartext {
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
}
.cardesc {
  text-align: center;
}

#modelx {
  padding-top: 10em;
  padding-bottom: 10em;
}

.carousel {
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
}
.carousel-indicators {
  z-index: 5;
}

#gallerytitle {
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: center;
}
.BnW {
  filter: grayscale(1);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.BnW:hover {
  filter: grayscale(0);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(1.25);
  z-index: 100;
}

#emailSub {
  display: inline-flex;
  padding: 5px;
}

#emailError {
  display: none;
  color: red;
  font-style: oblique;
  font-size: 11px;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.nav-item {
  color: red;
}

#logo:hover {
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(0.75);
}

#get-back {
  position: absolute;
  left: 50%;
}

/* Footer */
.footer-p {
  color: #999;
  line-height: 25px;
}
.footer-h {
  color: #fff;
}
.f-h2 {
  font-size: 18px;
}
.footer-top {
  background: #111;
  padding-top: 80px;
  padding-bottom: 5em;
  margin-top: 10em;
}

.segment-one h3 {
  font-family: Courgette;
  color: #fff;
  letter-spacing: 3px;
  margin: 10px 0;
}
.segment-two h2 {
  color: #fff;
  font-family: Poppins;
  text-transform: uppercase;
}
.segment-two h2:before {
  content: "|";
  color: #c65039;
  padding-right: 10px;
}
.segment-two ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.segment-two ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  line-height: 40px;
}
.segment-two ul li a {
  color: #999;
  text-decoration: none;
}
.segment-three h2 {
  color: #fff;
  font-family: Poppins;
  text-transform: uppercase;
}
.segment-three h2:before {
  content: "|";
  color: #c65039;
  padding-right: 10px;
}
.segment-three a {
  background: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}
.segment-three a i {
  font-size: 20px;
  color: #fff;
  padding: 10px 11px;
}
.segment-four h2 {
  color: #fff;
  font-family: Poppins;
  text-transform: uppercase;
}
.segment-four h2:before {
  content: "|";
  color: #c65039;
  padding-right: 10px;
}
.segment-four form input[type="submit"] {
  background: #c65039;
  border: none;
  padding: 3px 15px;
  margin-left: -5px;
  color: #fff;
  text-transform: uppercase;
}
.footer-bottom-text {
  text-align: center;
  background: #000;
  line-height: 75px;
  color: #fff;
  
}

/* Icons */
#logout-icon {
  padding-top: 0,5em;
  margin-left: 1em;
}

#rss-icon {
  vertical-align: middle;
}

/* Profile */
#logout-entry {
  display: none;
}

#profile-entry {
   display: none;
}

#profileContainer {
  margin-top: 1em;
}

/* Responsive CSS */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .md-mb-30 {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .sm-mb-30 {
    margin-bottom: 30px;
  }
  .footer-top {
    padding: 50px 0;
  }
}
